{
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["clsx", "cn", "cva"],
	"tailwindAttributes": ["className"]
}
